@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
    color: black;
    
}main img{
    display: block;
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
p {
    padding: 5px;
    text-align:justify;
}
header h1{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
h2, h4, h5{
    font-family: 'Roboto Slab', serif;
}
.newspaper-container{
    background-color: white;
    box-shadow: 5px 5px 10px #ddd;
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
main h5{
    color: #dd3232;
}

.navbar ul{
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
   padding-top:5px;
   padding-bottom: 5px;
   
}

.navbar ul li{
    display:inline-block;
    list-style-type: none;
    
}
.navbar ul li:not(:last-child){
   margin:0 8px 0 0;   
}
.navbar a:link{
    color:#777;
    text-decoration: none;    
}
.navbar a:hover{
    background-color: lightgray;
}
div h4{
    text-align: left;
}
.more-articles{
    border-top: 1px solid lightgray;
    text-align: center;
}

.more-articles section{
    display:inline-block;
    width: 45%;
    height: auto;
}
.more-articles section p{
    margin: 0 10px 0 10px;

}
.threeMore-articles{
    margin: 10px;
    border-top: 1px solid lightgray;
    text-align: center;
}
.threeMore-articles section{
    display:inline-block;
    width: 30%;
    height: auto;
}
.threeMore-articles section p{
    margin: 0 10px 0 10px;

}
.threeMore-articles section img{
    width: 200px;
}
.footer{
    margin-top: 50px;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size:smaller;
    background-color: rgb(165, 165, 165);
}
.footer div{
    display: inline-block;
    text-align: justify;
}
.footer a{
    color:whitesmoke;
}
.footer a:hover{
    color: black;
}
.footer-left{
    text-align: left;
    vertical-align:middle;
}
.footer-right{
    float:  right;
    vertical-align:middle;  
}
.footer-right a{
   margin-right: 1em;
} 
.footer-left a{
    margin-left: 1em;
}